<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="../assets/images/faces/face8.png" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name"><%- m.name -%></p>
          <!-- <p class="designation">Premium user</p> -->
        </div>
      </a>
    </li>
    <li class="nav-item nav-category">Main Menu</li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">View All Patients</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/add-new">
        <i class="menu-icon typcn typcn-shopping-bag"></i>
        <span class="menu-title">Add New Patient</span>
      </a>
    </li>

  </ul>
</nav>